@page
@model Playlist.Pages.Playlists.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlaylistModel</h4>
    <hr/>
    <dl class="dl-horizontal">
        @* ReSharper disable Html.TagNotClosed *@
        <dt>
            @Html.DisplayNameFor<string>(model => model.PlaylistModel.nom)
        </dt>
        <dd>
            @Html.DisplayFor<string>(model => model.PlaylistModel.nom)
        </dd>
        <dt>
            @Html.DisplayNameFor<string>(model => model.PlaylistModel.description)
        </dt>
        <dd>
            @Html.DisplayFor<string>(model => model.PlaylistModel.description)
        </dd>
        <dt>

            @Html.DisplayNameFor<boolean>(model => model.PlaylistModel.isPublic)

        </dt>
        <dd>
            @Html.DisplayFor<boolean>(model => model.PlaylistModel.isPublic)
        </dd>
        @* ReSharper restore Html.TagNotClosed *@
    </dl>

    <form method="post">
        <input type="hidden" asp-for="PlaylistModel.Id"/>
        <input type="submit" value="Delete" class="btn btn-default"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>