@page
@model Playlist.Pages.Playlists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <h4>PlaylistModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlaylistModel.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaylistModel.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaylistModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaylistModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaylistModel.IsPublic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaylistModel.IsPublic)
        </dd>
    </dl>
</div>
<div class="form-horizontal">
    <input asp-action="SearchMusic.Keybord" type="search" placeholder="Rechercher une vidéo" class="text"/>
    <input type="submit" value="Search" class="btn btn-default"/>
</div>
<div>
    @if (Model.PlaylistModel.Musiques == null)
    {
       
        <label> La playlist est vide</label>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaylistModel.Musiques[0].Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaylistModel.Musiques[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaylistModel.Musiques[0].Duree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaylistModel.Musiques[0].Url)
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.PlaylistModel.Musiques)
            {
                <tr>
                    <td>
                        <iframe width="300" height="150" src="@Html.DisplayFor(modelItem => item.Url)" allow=" encrypted-media"></iframe>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        <a asp-page="./DeleteItem" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PlaylistModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
